<div class="container" data-ng-controller="SomeController">
            
    <h3>View 1</h3>
    Name: <input type="text" data-ng-model="nameFilter" />
    <ul>
        <li data-ng-repeat="person in people | filter:nameFilter">
            {{person.name | uppercase}} loves {{person.city | uppercase}}
        </li>
    </ul>
    New Person:
    <input type="text" data-ng-model="newPerson" />
    <button data-ng-click="addPerson()">Add Person</button>
    <a href="#/view2">View 2</a>
</div>
        