.donors-choose .btn-primary {
    background-color: #D32C2C;
    border-color: #FFABAB;
}

.donors-choose .scrollable-content {
    background-color: #FFF;
    padding-top: 5em;
}

.donors-choose .centered-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.donors-choose .navbar-app {
    background-color: #D32C2C;
    border-color: #FFABAB;
    color: #EEE;
    text-shadow: 0.1em 0.1em 0.05em #aaa;
}

.donors-choose .search-container .btn-link {
    display: block;
    margin-left: auto;
}

.donors-choose .search-container label {
    margin-top: 2em;
}

.donors-choose .search-results-view .image-container {
    margin-bottom: 1em;
}
.donors-choose .search-results-view .image-container img {
    float: left;
    margin-right: 1em;
}

.donors-choose .search-results-view .image-fulfillment-container {
    margin-bottom: 1em;
}

.donors-choose .search-results-view .fulfillment-trailer {
    margin-top: -1em;
}