<!DOCTYPE html>
<html data-ng-app>
    <head>
        <title>AngularJS Test App</title>
    </head>
    
    <body>
        <div class="container">
            
            <h3>Databinding</h3>
            Name: <input type="text" data-ng-model="name" data-ng-init="name='World'" />
            <p>Hello, {{ name }}!</p>
        </div>
        
        <div class="container" data-ng-init="names=['Austine', 'Sharpie', 'Jeff', 'Chris']">
            <h3>Looping</h3>
            <ul>
                <li data-ng-repeat="name in names">{{ name }}</li>
            </ul>
            
        </div>
        
        <div class="container" data-ng-init="people=[{name: 'Austine', title: 'Emailer'}, {name: 'Sharpie', title: 'Coffee Drinker'}, {name: 'Jeff', title: 'Cookie Cutter'}, {name: 'Chris', title: 'NoShow'}]">
            <h3>Looping complex objects</h3>
            <ul>
                <li data-ng-repeat="person in people | orderBy:'name'">
                    {{ person.name | uppercase }} is the Adage {{ person.title | uppercase }}
                </li>
            </ul>
            
        </div>
        
        <div class="container" data-ng-init="people=[{name: 'Austine', title: 'Emailer'}, {name: 'Sharpie', title: 'Coffee Drinker'}, {name: 'Jeff', title: 'Cookie Cutter'}, {name: 'Chris', title: 'NoShow'}]">
            <h3>Filtering complex objects</h3>
            <input type="text" data-ng-model="nameFilter" />
            <ul>
                <li data-ng-repeat="person in people | filter:nameFilter">
                    {{ person.name | uppercase }} 
                </li>
            </ul>
            
        </div>
        
        <script type="text/javascript" src="js/libs/angular.min.js"></script>
        
    </body>
</html>