<!DOCTYPE html>
<html data-ng-app="demoApp">
    <head>
        <title>AngularJS Test App</title>
    </head>
    
    <body>
        <div class="container" data-ng-controller="SomeController">
            
            <h3>Controllers</h3>
            Name: <input type="text" data-ng-model="nameFilter" />
            <ul>
                <li data-ng-repeat="person in people | filter:nameFilter">
                    {{person.name | uppercase}} loves {{person.city | uppercase}}
                </li>
            </ul>
        </div>
        
        <script type="text/javascript" src="js/libs/angular.min.js"></script>
        <script type="text/javascript" src="js/libs/angular-route.min.js"></script>
        <script type="text/javascript" src="js/viewcontrollerscope.js"></script>
    </body>
</html>