<div class="container" data-ng-controller="homeController">
            
    <h3>Filter by Subject</h3>
    Subject: <input type="text" data-ng-model="searchText" />
    <select data-ng-init="selectedSubject = subjects[0]" data-ng-model="selectedSubject" data-ng-options="subject.title for subject in subjects">
    </select>
    
    <input type="button" data-ng-click="search(searchText, selectedSubject)" value="Search" />
    
    <div data-ng-repeat="proposal in proposals" >
        <h3 data-ng-bind-html="proposal.title"></h3>
        <div>
            <span><img src="{{proposal.thumbImageURL}}"/></span>
            <span data-ng-bind-html="proposal.fulfillmentTrailer"></span>
        </div>
        <div>
            <strong>Remaining: </strong>
            <span>${{proposal.costToComplete}}</span>
        </div>
        <div>
            <strong>Expires: </strong>
            <span>{{proposal.expirationDate}}</span>
        </div>
    </div>
    
    <div data-ng-visible="proposals.length > 0">
        <input type="button" data-ng-click="searchPage(searchText, selectedSubject, $index)" value="{{$index}}" data-ng-repeat="index in getArray() track by $index" />
    </div>
    
</div>
        