<div class="container-fluid search-container" data-ng-controller="searchController">

    <div class="form-group">
        <div data-row data-ng-transclude>
            <img class="centered-image" src="http://placehold.it/350x150" />
        </div>
        
        <div data-row data-ng-transclude>
            <label>Search</label>
            <input type="text" class="form-control" data-ng-model="searchText" placeholder="eg. Libraries ..." />
        </div>
        
        <div data-row data-ng-transclude>
            <input type="button" data-ng-click="setShowMoreOptions(true);" data-ng-show="!showMoreOptions" value="More Options" class="btn btn-link" />
        </div>
        
        <div class="more-options" data-ng-show="showMoreOptions">
            
            <div data-row data-ng-transclude class="subject">
                <label>Subject</label>
                <select data-ng-init="selectedSubject = subjects[0]" data-ng-model="selectedSubject" data-ng-options="subject.title for subject in subjects" class="form-control">
                </select>
            </div>
        
            <div data-row data-ng-transclude class="cost-to-complete">
                <label>Cost To Complete</label>
                <select data-ng-init="costToComplete = costToCompletes[0]" data-ng-model="costToComplete" data-ng-options="costToComplete.title for costToComplete in costToCompletes" class="form-control">
                </select>
            </div>
        
            <div data-row data-ng-transclude class="grade-level">
                <label>Grade Level</label>
                <select data-ng-init="gradeLevel = gradeLevels[0]" data-ng-model="gradeLevel" data-ng-options="gradeLevel.title for gradeLevel in gradeLevels" class="form-control" >
                </select>
            </div>
            
            <div data-row data-ng-transclude class="sort-by">
                <label>Sort By</label>
                <select data-ng-init="sortBy = sortBys[0]" data-ng-model="sortBy" data-ng-options="sortBy.title for sortBy in sortBys" class="form-control" >
                </select>
            </div>
        
            <div data-row data-ng-transclude class="zip-code">
                <label>Zip Code</label>
                <input type="text" data-ng-model="zipCode" placeholder="eg. 60606" class="form-control"/>
            </div>
            
            <div data-row data-ng-transclude>
                <input type="button" data-ng-click="setShowMoreOptions(false);" value="Less Options" class="btn btn-link"/>
            </div>
        </div>
        
        
        </div>
        
        
        <div data-row data-ng-transclude>
            <input type="button" data-ng-click="search()" value="Search" class="btn btn-danger"/>
        </div>
    </div>


</div>